.header_container{
  
  background: radial-gradient(circle, rgba(246,242,231,1) 0%, rgba(172,172,172,1) 100%);
  -webkit-box-shadow: 0px 10px 21px -1px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 10px 21px -1px rgba(0,0,0,0.38);
  box-shadow: 0px 10px 21px -1px rgba(0,0,0,0.38);

}


.header_links{
  background: rgb(246,242,231);
  padding: 0 10px 10px 0;
  
}